<!-- FILL: the full official text of the {{ project.license }} licence (from https://spdx.org/licenses/{{ project.license }}.html), with the year and the copyright holder. Replace this whole file. -->
